<!DOCTYPE html>

<html lang="en">

<head>

<!-- Required meta tags -->
   {% load static %}
<meta charset="utf-8">

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>



<!-- Bootstrap CSS -->

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>




<!--fontawesome-->

<script defer src="https://use.fontawesome.com/releases/v5.0.13/js/all.js" integrity="sha384-xymdQtn1n3lH2wcu0qhcdaOpQwyoarkgLVxC/wZ5q7h9gHtxICrpcaSUfygqZGOe" crossorigin="anonymous"></script>

<!--This is used for search icon. Instead putting icon manually it is loaded from fontawesome-->


   <link href="{% static 'css1/main.css' %}" rel="stylesheet" media="all">

<title>Login</title>

</head>
<style>
.card{

border-radius:20px;
}
.bg-blue{
    background-image: url('{% static "img/back_image.jpg"%}');
    background-size: 1800px 900px;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
}
</style>
<body>
<div class="page-wrapper bg-blue p-t-100 p-b-100 font-robo">
        <div class="wrapper wrapper--w680">
            <div class="card card-1">
                
                <div class="card-body">
                    <h2 class="title">Login</h2>
                <form action="" method="post" autocomplete="off">
    {% csrf_token %}

    
    <div class="form-group">
    <label for="exampleInputEmail1">User Name</label>
    <input type="text" class="form-control" name='uname' aria-describedby="emailHelp" placeholder="User Name">
    
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1" >Password</label>
    <input type="password" class="form-control" name='password' id="exampleInputPassword1" placeholder="Password">
  </div>
  <div class="text-center"><button type="submit" class="btn btn-primary">Login</button></div>
                        
                      
  {% comment %} <button type="submit" class="btn btn-primary">Login</button> {% endcomment %}

  
                   {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">

      {% if message.tags == "success" %}
      <strong>Well done!</strong> {{ message}}
      {% else %}
      <strong>Error!</strong> {{ message}}
      {% endif %} 
      {% endfor %}

    </form>
    </br>

        
                </div>
            </div>
        </div>
    </div>
</body>

</html>
